<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Title of the document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
        {# <style>{% include "css/styles.css" %}</style> #}
    </head>
    <body>
    {% include "components/header.njk" %}

        <div class="page-overlay"></div>
        <div id="swup" class="transition-fade">
            {{ content | safe }}
            {% block postContent%}
            {% endblock postContent%}
        </div>

        {# <script>
            {% include "js/scripts.js" %}
            AOS.init();
            const swup = new Swup();
        </script> #}
    </body>
</html>