<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Title of the document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
        <style>{% include "css/styles.css" %}</style>
    </head>
    <body>
    {% include "components/header.njk" %}

        <div class="page-overlay"></div>
        <div id="swup" class="transition-fade">
            {{ content | safe }}
            {% block postContent%}
            {% endblock postContent%}
        </div>
        <script>
            function lazyLoad(elements) {

    elements.forEach(picture => {
      if (picture.intersectionRatio > 0) {
  
        // gather all the image and source elements in this picture
        var sources = picture.children;
  
        for (var s = 0; s < sources.length; s++) {
          var source = sources[s];
  
          // set a new srcset on the source elements 
          if (sources.hasAttribute("srcset")) {
            source.setAttribute("srcset", ONE_OF_OUR_BIGGER_IMAGES);
          }
          // or a new src on the img element
          else {
            source.setAttribute("src", ONE_OF_OUR_BIGGER_IMAGES);
          }
        }
  
        // stop observing this element. Our work here is done!
        observer.unobserve(item.target);
        
      };
      
    });

    
  
  };


        </script>
    </body>
</html>