{% extends "layouts/default.njk" %}


{% block postContent %}
    {% include "components/hero.njk" %}
    <section class="about">
        <h2 class="heading mt-0">18 års erfaring</h2>
        <p class="text">Med en bred og årelang erfaring indenfor webbranchen er vi et solidt match når du søger efter et webbureau til at håndtere dine programmerings opgaver. Vi er et webbureau med fokus på kvalitet og kundens løsninger. Vores tekniske kunnen matcher vores evne til at levere. Der arbejdes fokuseret indtil kundens behov er i hus.</p>
    </section>
    {% include "components/service.njk" %}
    
    <div data-w-id="d45790e0-e026-3ff3-b525-3e334519f82c" class="cases--home">
    <div class="wrapper">
      <img loading="lazy" src="assets/images/cases-home-1.jpg?nf_resize=fit&w=1440" sizes="100vw" alt="" class="image-1">
      <img loading="lazy" src="assets/images/cases-home-2.jpg?nf_resize=fit&w=1440" sizes="100vw" alt="" class="image-2">
      <img loading="lazy" src="assets/images/cases-home-3.jpg?nf_resize=fit&w=1440" sizes="100vw" alt="" class="image-3">
      <div class="div-block-8"></div>
    </div>
  </div>
  <div class="top b"></div>
{% endblock postContent %}