<div class="cases-home glide">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            <div class="glide__slide item" data-aos="case-animation" data-aos-once="true">
                <div class="content">
                    <h2 class="heading">Auktionhuset</h2>
                    <div class="subheader">E-commerce, WordPress Udvikling</div>
                    <div class="main-text">
                        <div class="devider"></div>
                        <p class="text">Profilmetal havde et ønske om at komme væk fra deres gamle shopløsning. Samtidig ønskede de at få et mere tidssvarende design der også øgede brugervenligheden for de kunder der bruger smartphones og tablets.</p>
                        <a class="btn btn--primary btn--large" href="">læs mere her</a>
                        <a class="btn btn--secondary btn--large" href="">læs mere her</a>
                    </div>
                </div>
                <picture loading="lazy">
                    <source srcset="/assets/images/cases-home-4.jpg?nf_resize=fit&w=320" media="(max-width: 320px)">
                    <source srcset="/assets/images/cases-home-4.jpg?nf_resize=fit&w=768" media="(max-width: 768px)">
                    <source srcset="/assets/images/cases-home-4.jpg?nf_resize=fit&w=992" media="(max-width: 992px)">
                    <img class="image" src="/assets/images/cases-home-4.jpg?nf_resize=fit&w=1440" alt="sdf" />
                </picture> 
            </div>
            <div class="glide__slide item" data-aos="case-animation" data-aos-once="true">
                <div class="content">
                    <h2 class="heading">Auktionhuset</h2>
                    <div class="subheader">E-commerce, WordPress Udvikling</div>
                    <div class="main-text">
                        <div class="devider"></div>
                        <p class="text">Profilmetal havde et ønske om at komme væk fra deres gamle shopløsning. Samtidig ønskede de at få et mere tidssvarende design der også øgede brugervenligheden for de kunder der bruger smartphones og tablets.</p>
                        <a class="btn btn--primary btn--large" href="">læs mere her</a>
                        <a class="btn btn--secondary btn--large" href="">læs mere her</a>
                    </div>
                </div>
                <picture loading="lazy">
                    <source srcset="/assets/images/cases-home-4.webp?nf_resize=fit&w=320" media="(max-width: 320px)">
                    <source srcset="/assets/images/cases-home-4.webp?nf_resize=fit&w=768" media="(max-width: 768px)">
                    <source srcset="/assets/images/cases-home-4.webp?nf_resize=fit&w=992" media="(max-width: 992px)">
                    <img class="image" src="/assets/images/cases-home-4.webp?nf_resize=fit&w=1440" alt="sdf" />
                </picture> 
            </div>
        </div>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button aria-label="slider" class="glide__bullet" data-glide-dir="=0"></button>
        <button aria-label="slider" class="glide__bullet" data-glide-dir="=1"></button>
        <button aria-label="slider" class="glide__bullet" data-glide-dir="=2"></button>
    </div>
</div>