<header class="header">
    <!-- <div id="swup" class="transition-header"> -->
    <div class="container">
      <div class="logo">
        <a href="/" aria-label="Indexed"><img src="/assets/images/indexed-logo.svg" alt="Indexed" /></a>
      </div>
      
      <nav>
        <ul class="main-menu">
            {% for pages in collections.first %}
            <li>
                <a {% if page.url == pages.url %} class="active"{% endif %} href="{{ pages.url }}">
                    {{ pages.data.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
      </nav>
      <div class="contact-info">
        <a class="phone" href="" aria-label="Ring til os">23 45 87 88</a>
        <a class="phone" href="" aria-label="Kontakt os på mail">info@indexed.dk</a>
      </div>
    </div>
  <!-- </div> -->
</header>