<header class="header">
    <div class="container">
      <div class="logo">
        <a href="/" aria-label="Indexed"><img src="/assets/images/indexed-logo.svg" alt="" /></a>
      </div>
      
      <nav>
        <ul class="main-menu">
          <li><a class="active" href="/">Forside</a></li>
          <li><a href="/service/test">Cases</a></li>
          <li>
            <a href="/service">Ydelser
              <!-- <font-awesome class="icon" :icon="['fas', 'angle-down']"/> -->
            </a>
            <ul><li><a href="/service/webshop"></a></li></ul>
          <li>
            <a href="/service/webshop">Om indexed
              <!-- <font-awesome class="icon" :icon="['fas', 'angle-down']"/> -->
            </a>
          </li>
        </ul>
      </nav>
      <div class="contact-info">
        <a class="phone" href="" aria-label="Ring til os">23 45 87 88</a>
        <a class="phone" href="" aria-label="Kontakt os på mail">info@indexed.dk</a>
      </div>
      
    </div>
</header>