<section class="hero">
    <div class="hero__top">
        <div class="container container--right">
            <div class="hero__top__content">
                <div class="text">
                    <h1>
                        <span class="heading">{{ hero_heading_1 }}
                            <span class="ani"></span>
                        </span>
                        <span class="heading">{{ hero_heading_2 }}
                            <span class="ani"></span>
                        </span>
                    </h1>
                    <p>Webbureau Indexed hjælper med digitialisering af din virksomhed. <strong>Opdater eller byg ny hjemmeside eller webapp</strong> som kan automatisere dine processer.</p>
                </div>
            </div>
        </div>
        <div loading="lazy" class="video-wrapper">
            <video muted="muted" autoplay loop="loop" playsinline="" preload="auto" class="imagebox__video">
                <source defer src="/assets/images/test-video-two.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="hero__bottom">
        <ul class="icons-wrapper">
            <li>
                <img loading="lazy" src="/assets/images/woocommerce-icon.png?nf_resize=fit&h=70" alt="woocommerce">
            </li>
            <li>
                <img loading="lazy" src="/assets/images/wordpress-icon.png?nf_resize=fit&h=70" alt="wordpress">
            </li>
            <li>
                <img loading="lazy" src="/assets/images/strip-icon.png?nf_resize=fit&h=70" alt="">
            </li>
            <li>
                <img loading="lazy" src="/assets/images/economic-icon.png?nf_resize=fit&h=70" alt="economic">
            </li>
            <li>
                <img loading="lazy" src="/assets/images/symfony-icon.png?nf_resize=fit&h=70" alt="symfony">
            </li>
        </ul>
    </div>
</section>