<div class="service-bottom-home">
    <div class="content">
        <h5 class="h2">Hos Indexed Webbureau får du altid</h5>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon1.svg" alt="">
                <h3 class="heading h4">Fremtidssikker udvikling</h3>
            </div>
            <p>Et af vores kerneområder er at tilbyde værdiskabende løsninger. Det kunne blandt andet være automatisk bogføring af webordrer.</p>
        </div>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon2.svg" alt="">
                <h3 class="heading h4">Kan løse store opgaver</h3>
            </div>
            <p>Med 15 års erfaring på mindre løsninger samt store komplekse systemer for rejsebranchen kan vi håndtere mange opgaver og ved, hvad der kræves.</p>
        </div>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon1.svg" alt="">
                <h3 class="heading h4">Kvalitet løsninger</h3>
            </div>
            <p>Løsning skal laves ordentligt i første omgang. Hos os er du sikret en stabil løsning og beskyttelse af dine data og dine kunder.</p>
        </div>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon1.svg" alt="">
                <h3 class="heading h4">Opnå topplaceringer i Google</h3>
            </div>
            <p>At bygge en hjemmeside er ikke alt. Når den bliver lanceret, skal den også have besøgende fra bla. Google og Bing. Vi gør alle hjemmesider synlige og optimerer dem.</p>
        </div>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon1.svg" alt="">
                <h3 class="heading h4">Kom tæt på dine kunder</h3>
            </div>
            <p>Benyt de medier, som dine besøgende også gør. Vi kan hjælpe med rådgivning og oprettelse af dine sociale medier og opsætte dem på hjemmesiden. Din side er kun første mursten.</p>
        </div>
        <div class="item" data-aos="fade-in" data-aos-once="true">
            <div class="top">
                <img class="icon" src="/assets/images/icon1.svg" alt="">
                <h3 class="heading h4">Online markedsføring</h3>
            </div>
            <p>Opsæt de første annoncer i Google AdWords online og mål dem i Google Analytics. Lyder det svært? Ikke for os – det er en del af det, som vi kan give en hånd med.</p>
        </div>
    </div>
</div>