<div class="service--home">
    <div class="container container--right">
        {% for service in collections.services %}
        <a class="item" data-aos="case-animation" data-aos-once="true" aria-label="{{service.data.title}}" href="{{ service.url }}">
            <div class="image-container">
                <div class="img-wrapper">
                <picture loading="lazy">
                    <source srcset="{{service.data.image}}?nf_resize=fit&w=320" media="(max-width: 320px)">
                    <img class="image" src="{{service.data.image}}?nf_resize=fit&w=440" alt="{{ service.data.title }}" />
                </picture> 
                </div>
                <div class="overlay"></div> 
            </div>
            <div class="content" data-aos="case-text-ani" data-aos-once="true">
                <h3 class="heading">{{ service.data.title }}</h3>
                <p class="text">{{ service.data.subtext }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>