.cases-home{
    background-color: #4F4339;
    color: $light-gray-light;
    position: relative;

    .glide__track, .glide__slides{
        height: 100%;
    }

    // .owl-nav{
    //     position: absolute;
    //     bottom: 42rem;
    //     padding-right: var(--container-padding);
    //     display: flex;
    //     width: 100% !important;
    // }

    // .owl-dots{
    //     position: absolute !important;
    //     width: auto;
    //     margin-right: 0;
    //     right: var(--container-padding);
    //     bottom: 42rem;
    //     text-align: right;

    //     .owl-dot{
    //         width: 14rem !important;
    //         height: 6px !important;
    //         -webkit-border-radius: 1px !important;
    //         -moz-border-radius: 1px !important;
    //         border-radius: 1px !important;
    //         background-color: $light-gray-dark !important;
    //         opacity: .2;
    //         padding: 0 0 0 15px !important;
    //     }
        
    //     .owl-dot.active{
    //         opacity: 1;
    //     }
    // }

    .glide__slides{
        position: relative;
        width: 100%;
        height: 130rem;

        .glide__slide{
            position: relative;

            &.glide__slide--active.aos-animate{


                .image{
                    opacity: 1 !important;
                    transition: all .3s ease-in-out;
                }
    
                .content{

                    .heading{
                        animation: FadeFromRight .3s;
                        animation-fill-mode: backwards;
                        animation-delay: .5s;
                        opacity: 1;
                    }
    
                    .subheader{
                        animation: FadeFromLeftFaded .3s;
                        animation-fill-mode: backwards;
                        animation-delay: .5s;
                        opacity: .5;
                    }
    
                    .main-text{
                        animation: FadeIn .3s;
                        animation-fill-mode: backwards;
                        animation-delay: .8s;
                        opacity: 1;
                    }
                }
            }

            .image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                object-fit: cover;
                transition: all .3s ease-in-out;

            }
    
    
            .content{
                position: relative;
                top: 0;
                padding-top: 25rem;
                padding-left: var(--container-padding);
                width: 50%;
                z-index: 30;
                font-weight: 300;

                .heading{
                    font-size: 9rem;
                    margin: 0;
                    line-height: 100%;
                    opacity: 0;
                }

                .subheader{
                    text-transform: uppercase;
                    opacity: .7;
                    font-size: 2rem;
                    opacity: 0;
                }

                .main-text{
                    opacity: 0;

                    .devider{
                        height: 1px;
                        width: 60%;
                        background-color: rgba($white, .1);
                        margin-top: 3rem;
                    }

                    .text{
                        font-size: 2.2rem;
                        margin-bottom: 5rem;
                        opacity: 1;
                    }

                    a{
                        margin-right: 1.5rem;
                    }
                }

            }

        }
    }
}