---
layout: "layouts/default.njk"
hej: "Frontpage"
---

{% include "components/hero.njk" %}
<section class="about">
    <h2 class="heading mt-0">18 års erfaring</h2>
    <p class="text">Med en bred og årelang erfaring indenfor webbranchen er vi et solidt match når du søger efter et webbureau til at håndtere dine programmerings opgaver. Vi er et webbureau med fokus på kvalitet og kundens løsninger. Vores tekniske kunnen matcher vores evne til at levere. Der arbejdes fokuseret indtil kundens behov er i hus.</p>
</section>
<div class="service--home">
    <div class="container container--right">
        {% for service in collections.services %}
        <a class="item" data-aos="case-animation" data-aos-once="true" aria-label="{{service.data.title}}" href="{{ service.url }}">
            <div class="image-container">
                <div class="img-wrapper">
                <picture>
                    <source srcset="{{service.data.image}}?nf_resize=fit&w=320" media="(max-width: 320px)">
                    <img class="image" src="{{service.data.image}}?nf_resize=fit&w=500" alt="{{ service.data.title }}" />
                </picture> 
                </div>
                <div class="overlay"></div> 
            </div>
            <div class="content" data-aos="case-text-ani" data-aos-once="true">
                <h3 class="heading">{{ service.data.title }}</h3>
                <p class="text">{{ service.data.subtext }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

        
