<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendore/normalize-min.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendore/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    

    <body>
    {% include "components/header.njk" %}

        <div class="page-overlay"></div>
        <div id="swup" class="transition-fade">
            {{ content | safe }}
            {% block postContent%}
            {% endblock postContent%}
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="/assets/js/swup.js"></script>
        <script>
            AOS.init();
            const swup = new Swup();
        </script>
    </body>
</html>